# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:BARAKOA_MASK=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:Nether=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:Obsidian=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SOL_VISAGE=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:Stone=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:WROUGHT_HELM=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"Wood Log"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:armor_ion=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:armormaterial_rhodonite=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:bamArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_black=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_brown=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:bear_cape_kermode=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:bone=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:boneArmourMaterial=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:carbonado=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:cloud_boots=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 2]
    I:crystal=2

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 75]
    I:dragonArmorMaterial=75

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emerald=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emeraldArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:flintArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:glowing=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:lapisArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 35]
    I:lavaArmorMaterial=35

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:material_archer=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate2"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:santa_hat"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianArmorMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:quartzArmourMaterial=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:redstoneArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:stoneArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:witherArmorMaterial=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_arctic=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_black=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_brown=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_classic=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_red=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wolf_cape_timber=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:woodArmourMaterial=5
}


"enchantability - tools" {
    I:Aluminium=14
    I:Bedrock=9001
    I:Brass=10
    I:Bronze=11
    I:Chrome=7
    I:Copper=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10
    I:Darksteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:Diamond=10
    I:Dragonite=15
    I:Electrum=25
    I:Elementium=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:Emerald=25
    I:Flint=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:Giant=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Gold=22
    I:Gossamite=15
    I:HammerAluminium=14
    I:HammerBrass=10
    I:HammerBronze=11
    I:HammerChrome=7
    I:HammerCopper=12
    I:HammerDarksteel=25
    I:HammerDiamond=10
    I:HammerDragonite=15
    I:HammerElectrum=25
    I:HammerElementium=20
    I:HammerGiant=10
    I:HammerGold=22
    I:HammerGossamite=15
    I:HammerInvar=7
    I:HammerIron=14
    I:HammerLead=2
    I:HammerMachalite=15
    I:HammerManasteel=20
    I:HammerMini=14
    I:HammerMjolnir=0
    I:HammerNetherStar=0
    I:HammerNickel=17
    I:HammerObsidian=5
    I:HammerOsmium=12
    I:HammerPeridot=16
    I:HammerPlatinum=37
    I:HammerPowered=0
    I:HammerRuby=10
    I:HammerSapphire=8
    I:HammerSilver=15
    I:HammerSteel=5
    I:HammerStone=5
    I:HammerTerrasteel=26
    I:HammerTin=5
    I:HammerWood=15
    I:HammerZinc=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14
    I:Invar=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:Iron=14
    I:Lead=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 512]
    I:MSM_LEGACY_ADMINIUM_ARK=512

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:MSM_LEGACY_AETHERS_GUARD=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 28]
    I:MSM_LEGACY_CRYSTALINE_BLADE=28

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:MSM_LEGACY_DAWN_STAR=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:MSM_LEGACY_DRACONIC_BLADE=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:MSM_LEGACY_EYE_END_BLADE=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:MSM_LEGACY_GLACIAL_BLADE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MSM_LEGACY_GLADIOLUS=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:MSM_LEGACY_VAMPIRIC_BLADE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:MSM_LEGACY_WITHER_BANE=16
    I:Machalite=15
    I:Manasteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 1]
    I:Mini=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:Mithril=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:Mjolnir=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"Nether Star"=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:Netherite=10
    I:Nickel=17

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:Obsidian=10
    I:Osmium=12
    I:Peridot=16
    I:Platinum=37
    I:Powered=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:Redstone=22
    I:Ruby=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5
    I:Sapphire=8
    I:Silver=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 4]
    I:Steel=5
    I:Stone=5
    I:Terrasteel=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22
    I:Tin=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:Vibranium=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:Wood=15
    I:Zinc=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:advancedDiamond=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:advancedEmerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:advancedGold=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:advancedIron=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:advancedNetherStar=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 3]
    I:advancedStone=3

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:advancedWood=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:arrowSlasherToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:birthdayToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:boneToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:bscDiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:bscGoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:bscIronToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:carbonado=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:creative_=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:crystal=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emerald=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:endSwordToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:flintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:goblin_metal=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:hayMakerToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:heartPiercerToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 72]
    I:immolation=72

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:kappaToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:lunarEdgeToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:material_ion=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:nether=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 1]
    I:netherStar=1

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pdiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pemeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pflintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pgoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:pironToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pobsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 44]
    I:power=44

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:pstoneToolMaterial=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pwoodToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pwubwubToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:saberToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:sandstone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:seaIronToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:shieldBreakerToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssAbyssalnite=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssBronze=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:ssConstantan=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssCopper=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssCoralium=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssDarkstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssDreadium=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssElectrum=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssElementium=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssEnderium=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssEthaxium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssInvar=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssLead=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssLumium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssManasteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssNickel=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssObsidian=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssPlatinum=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSignalum=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSilver=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSoulforgedSteel=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSteel=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:ssTerrasteel=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssTin=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: -100]
    I:swordInscrutableToolMat=-100

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:swordSlicerToolMat=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 32]
    I:toolmaterial_rhodonite=32

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:toolmaterial_rhodonite_noodle=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:wubwubToolMaterial=22
}


