# Configuration file

general {
    # Tiers for apples
    S:appleTiers <
        {"oreName":"blockGlass","entry":{"itemLimit":4,"fluidLimit":40}} 
        {"oreName":"thickendGlass","entry":{"itemLimit":8,"fluidLimit":80}}
        {"oreName":"blockCharcoal","entry":{"itemLimit":8,"fluidLimit":80}}
        {"oreName":"redstoneGlass","entry":{"itemLimit":16,"fluidLimit":160}}
        {"oreName":"blockCoal","entry":{"itemLimit":16,"fluidLimit":160}}
        {"oreName":"glowGlass","entry":{"itemLimit":32,"fluidLimit":320}}
        {"oreName":"blockMagma","entry":{"itemLimit":32,"fluidLimit":320}}
        {"oreName":"framedGlass","entry":{"itemLimit":64,"fluidLimit":640}}
        {"oreName":"temperedGlass","entry":{"itemLimit":128,"fluidLimit":1280}}
        {"oreName":"etherealGlass","entry":{"itemLimit":256,"fluidLimit":2560}}
        {"oreName":"ineffableGlass","entry":{"itemLimit":320,"fluidLimit":3200}}
        {"oreName":"blockMagicalWood","entry":{"itemLimit":640,"fluidLimit":6400}}
        {"oreName":"blockDemonicMetal","entry":{"itemLimit":640,"fluidLimit":6400}}
        {"oreName":"mithrilGlass","entry":{"itemLimit":768,"fluidLimit":7680}}        
        {"oreName":"blockEnchantedMetal","entry":{"itemLimit":1280,"fluidLimit":12800}}
        {"oreName":"superblockGold_x8","entry":{"itemLimit":1600,"fluidLimit":16000}}
        {"oreName":"blockVibranium","entry":{"itemLimit":3200,"fluidLimit":32000}}
		{"oreName":"avatarMisc","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarFarm","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarDirt","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarStone","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarFuel","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarIron","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"avatarGlass","entry":{"itemLimit":10240,"fluidLimit":102400}}
		{"oreName":"blockEvilMetal","entry":{"itemLimit":128000,"fluidLimit":1280000}}
		{"oreName":"blockNetherStar","entry":{"itemLimit":1024000,"fluidLimit":10240000}}
		{"oreName":"avatarSolid","entry":{"itemLimit":2048000,"fluidLimit":20480000}}
     >

    # Player Storage Interface works better with other storage networks (AE2, Refined Storage) but it may decrease performance. [default: true]
    B:betterInterface=true

    # Fluid capacity at the beginning [range: 0 ~ 2147483647, default: 20000]
    I:fluidCapacity=640

    # Enable infinite inventory. [default: false]
    B:infiniteSpace=false

    # Item capacity at the beginning [range: 0 ~ 2147483647, default: 2000]
    I:itemCapacity=64

    # If enabled, a keeper block containing your items and fluids will be placed when you die. [default: true]
    B:keeper=false

    # Enable remote item to access your inventory without pressing a key. [default: false]
    B:remote=false

    # If false the fluid storage is disabled [default: true]
    B:useFluidStorage=true
}


